@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  --primary-white: #ffff;
  --primary-dark: rgba(255,255,255,0);
  --primary-orange: rgba(	255,140,0);
  --primary-red: rgba(128,0,0);
  --primary-hover-red: #f25050;
}

nav{
  z-index: 2;
}

.my-btn{
  border: .1rem solid var(--primary-orange);
  background-color: transparent;
  padding: .5rem;
  border-radius: 1rem;

}

nav a.nav-link{
  font-size: 0.8rem;

}

.navbar-nav > li a.active, .navbar-nav > li a.focus{
  border-top: 0.1875rem solid var(--primary-orange)
}

.navbar-nav >li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav >li > a{
  color: var(--primary-white) !important ;
  font-weight: bolder;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 0 1rem;
}


.header-wrapper{
  position: relative;
  background: url(./img/hero-img-1.jpg) no-repeat;
  background-size: cover;
  background-position: cover;
  height: 70vh;

}

.main-info{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  top: -10rem;
  bottom: 0;
  right: 0;
  left: 0;

  font-family: "Roboto Condensed" sans-serif;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  
}

/* **************TYPED TEXTED*********************** */
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/* **************BTN MAIN OFFER*********************** */

.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem , 0.75rem, 0.75rem, 0.75rem;
  color: var(--primary-white);
  margin: .8rem;
}

/* **************PARTICLES******************** */
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* ******************CARD*********************** */

.card-main-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-child-container{

}